#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E3E4E9;
    padding: 10px 10px 10px 10px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;
    background-color: white;
    border-radius: 15px;
    padding: 20px 40px 20px 40px;
}

button {
    cursor: pointer;
}

#head_div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#greeting_div {
    display: flex;
    flex-direction: column;
    line-height: 0;
}

#add_task_button {
    background-color: #E2EBFA;
    color: #025efc;
    ;
    padding: 12px 35px 12px 35px;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.5s;
    user-select: none;
}

#add_task_button:hover {
    background-color: #c1d8ff;
}

.title_txt {}

.subtitle_txt {
    font-size: 18px;
    color: rgba(128, 128, 128, 0.700);
    font-weight: 400;
}

.modal_backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.400);
    backdrop-filter: blur(4px);
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_content {
    background-color: white;
    border-radius: 8px;
}

#add_task_modal_content {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 800px;
}

#add_modal_inputs {
    display: flex;
    flex-direction: column;
    height: 70%;
    padding: 10px 0 10px 0;
    gap: 10px;
}

#add_modal_inputs input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    padding: 5px 20px 5px 20px;
    color: rgba(0, 0, 0, 0.400);
}

#task_description_input {
    height: 80%;
}

#add_modal_buttons {
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

.add_task_modal_button {
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

#cancel_task_add_button {
    border: 2px solid #d3d3da;
    padding: 5px 20px 5px 20px;
    transition: border-color 0.5s;
}

#cancel_task_add_button:hover {
    border-color: #aaaab0;
}

#confirm_add_task_button {
    border: 2px solid purple;
    background-color: purple;
    color: white;
    padding: 5px 25px 5px 25px;
    transition: border-color 0.5s, background-color 0.5s;
}

#confirm_add_task_button:hover {
    border-color: rgb(100, 1, 100);
    background-color: rgb(100, 1, 100);
}

#sections_div {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section {
    color: #aaaab0;
    display: flex;
    align-items: end;
    gap: 5px;
    cursor: pointer;
}

.section span {
    background-color: #aaaab0;
    color: white;
    padding: 0 6px 0 6px;
    height: fit-content;
    border-radius: 10px;
    font-size: 13px;
}

#all_tasks_div {
    margin-top: 40px;
    width: 100%;
}

.task_body {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
    border-radius: 7px;
    box-shadow: 0 5px 20px #aaaab0;
}

.task_div_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_texts {
    line-height: 5px;
}

.task_main_txt {
    font-size: 20px;
}

.task_sub_txt {
    font-size: 15px;
    color: #aaaab0;
}

.task_checkcircle {
    border-radius: 20px;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    user-select: none;
}

.task_checkcircle_inactive {
    border: 1px solid black;
}

.task_checkcircle_active {
    border: 1px solid #0760FB;
    background-color: #0760FB;
    color: white;
}

.task_body hr {
    width: 100%;
    border: 2px solid #aaaab031;
    border-radius: 6px;
}

.task_div_bottom {
    display: flex;
    justify-content: space-between;
}

.task_div_svg {
    height: 25px;
    width: fit-content;
}